Status do Usuário: {{user.status | userStatus}}

<br>

Nome do Usuário: <b>{{user.nome | truncate: 2}}</b>

<br>

<h5>Pipes de texto</h5>

Uppercase: {{'upper caser' | uppercase}};
<br>
Lowercase: {{'LOWER CASE' | lowercase}};
<br>
Titlecase: {{'filipe de lima' | titlecase}};
<br>
Json: {{user | json}};
<br>
Slice: {{'Olá mundo' | slice: 0 : 5}};

<h1>Formato ISO8601</h1>
<b>{{minhaData | date: 'full'}}</b>

<br><br>
<b>{{minhaData | date: 'full': '+0000'}}</b>

<h1>Formato Timestamp</h1>
Timestamp para região: {{1464789600000 | date : 'full'}}

<br><br>
Timestamp UTC-0: {{1464789600000 | date : 'full': '+0000'}}

<h1>Formato </h1>
<b>Data convertidapara região: {{minhaDataObj | date : 'full'}} </b>

<h1>Formatações:</h1>
Curto: {{'2016-06-01T14:00:00.000Z' | date : 'short'}}
<br>
Médio: {{'2016-06-01T14:00:00.000Z' | date : 'medium'}}
<br>
Long: {{'2016-06-01T14:00:00.000Z' | date : 'long'}}
<br>
Competo: {{'2016-06-01T14:00:00.000Z' | date : 'full'}}
<br>

<!-- <app-obs-com-objeto></app-obs-com-objeto> -->

<app-obs-com-array></app-obs-com-array>