<div class="user-details">
    <mat-list role="list">
        <mat-list-item class="u-text-align-center">
            <span class="mat-headline-medium">Detalhes do usúario</span>
        </mat-list-item>
        <mat-divider></mat-divider>

        <mat-list-item>
            <span class="mat-headline-medium">Nome: </span> <span class="mat-headline-small">{{user.nome}}</span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <span class="mat-headline-medium">Email: </span> <span class="mat-headline-small">{{user.email}}</span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <span class="mat-headline-medium">Telefone: </span> <span
                class="mat-headline-small">{{user.telefone | phone}}</span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <span class="mat-headline-medium">Endereço: </span> <span class="mat-headline-small">{{user.endereco | address}}
            </span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <span class="mat-headline-medium">Status: </span> <span class="mat-headline-small">{{user.ativo | status}}</span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <span class="mat-headline-medium">Função: </span> <span class="mat-headline-small">{{user.funcao}}</span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <span class="mat-headline-medium">Data de Cadastro: </span> <span
                class="mat-headline-small">{{user.dataCadastro | date:'dd/MM/yyyy'}}</span>
        </mat-list-item>
        <mat-divider></mat-divider>
    </mat-list>
</div>