<form #meuForm="ngForm" (ngSubmit)="onSubmit(meuForm)">

    <input type="text" name="nome" [(ngModel)]="inputText">
    <br>

    <textarea name="descricao" [(ngModel)]="textarea"></textarea>
    <br>

    <select name="pais" [(ngModel)]="select">
        <option value="1">Brasil</option>
        <option value="2">Espanha</option>
    </select>

    <input type="radio" name="groupStatus" id="ativo" [(ngModel)]="radioButton">
    <label for="ativo">Ativo</label>
    <input type="radio" name="groupStatus" id="inativo" [(ngModel)]="radioButton">
    <label for="ativo">inativo</label>

    <input type="checkbox" name="condicao" id="condicao" [(ngModel)]="checkbox">
    <label for="condicao"></label>


    <button type="submit">enviar</button>
    <button type="reset" (click)="onReset(meuForm)">Limpar</button>

</form>