<!-- <app-sem-diretiva/>

=================================

<app-com-diretiva/> -->


<!-- 
1 . disabled diretamente no elemento:
° Define o atributo disabled diretamente no HTML.
° O botão estará sempre desabilitado.

2. attr.disabled com binding:

° Define o atributo disabled dinamicamente.
° Controla a presença do atributo disabled no HTML.
° Mais manual e pode ser menos intuitivo.

3. disabled com property binding:

° Define a propriedade disabled dinamicamente.
° Controla a propriedade disabled do elemento diretamente.
° Abordagem mais idiomática no Angular e mais intuitiva.
-->

<!-- <button disabled>Meu botão</button>

<button [attr.disabled]="false">Meu botão atributo</button>

<button [disabled]="true">Meu botão propriedade</button>

<button appDisabled>Mue botão com diretiva</button> -->

<!-- <p style="background-color: orangered; color: white;">Parágrafo normal</p>

<p [attr.style]="'background-color: orangered; color: white;'" >Parágrafo atributo</p>

<p [style]="'background-color: orangered; color: white;'" >Parágrafo propriedade</p>
<p [style]="{
  backgroundColor: 'orangered',
  color: 'white'
}" >Parágrafo propriedade Obj</p>

<p appStyle>Diretiva</p> -->

<!-- <p class="meu-texto">Normal</p>

<p [attr.class]="'meu-texto'">Attr</p>

<p [className]="'meu-texto  meu-size'">Property biding: Class Name</p>

<p [class]="{
  'meu-texto': true,
  'meu-size': true,
}">Property biding: Class</p>

<p appClass>Diretiva</p> -->

<!-- sem diretiva -->
<!-- <input (click)="onClick($event)" />

 --><!-- com diretiva -->
<!-- <input appListener /> -->

<input 
appInputBackground="red"
tColor="white"
/>

<input 
appInputBackground
bgColor="blue"
tColor="white"
/>

<input 
appInputBackground
[bgColor]="appBgColor"
tColor="white"
/>