<label for="name">Nome</label>
<input type="text" id="name" [formControl]="nome" (input)="inputAlterado()" />
<div>
    <span *ngIf="nome.hasError('required')">O campo nome é obrigatório.</span>
    <span *ngIf="nome.hasError('minlength') && !nome.hasError('required')">É necessario no minimo 6 caracteres.</span>
    <span *ngIf="nome.hasError('maxlength') && !nome.hasError('required')">É necessario no maximo 7 caracteres.</span>

    <span *ngIf="nome.hasError('invalidText') && !nome.hasError('required')" style="color: red;">{{nome.errors?.['invalidText']}}</span>
</div>

<p>Valor: {{nome.value}}</p>
<p>Valido: {{nome.valid}}</p>

<button (click)="mostrarStatus()">Mostrar Status</button>
<br>

<button (click)="alterarValor()">Alterar Valor</button>
<br>

<button (click)="desabilitar()">Habilitar</button>
<button (click)="habilitar()">Desabilitar</button>
<br>


<button (click)="reset()">Resetar</button>

<button (click)="setValidators()">Set Validators</button>
<button (click)="addValidator()">Add Validators</button>

