.credit-card {

    main{
        background-color: white;
    }
    header{
        display: flex;
        align-items: center;
        background-color: orange;
        padding: 10px;
    }

    img {
        width: 30px;
        margin-right: 10px;
    }
}
