<form #form="ngForm">
    <input 
    type="text" 
    name="nome" 
    ngModel #nomeInputControl="ngModel"
    placeholder="Digite o nome" 
    
    appUserNameValidator

    [ngModelOptions]="{updateOn: 'blur'}"
    />

    <div *ngIf="nomeInputControl.dirty">
        <p *ngIf="nomeInputControl.pending" style="color: orangered;">Verificando...</p>
        <p *ngIf="!nomeInputControl.pending && nomeInputControl.valid && !nomeInputControl.hasError('InvalidUserName')" style="color: green;">Usuário existente</p>
        <p *ngIf="!nomeInputControl.pending && nomeInputControl.invalid && nomeInputControl.hasError('InvalidUserName')" style="color: red;">Usuário inexistente</p>
    </div>

    <p>Válido: {{nomeInputControl.valid}}</p>
    <p>Tocado: {{nomeInputControl.touched}}</p>
    <p>Sujo: {{nomeInputControl.dirty}}</p>
    <p>Pedente: {{nomeInputControl.pending}}</p>

</form>