/* You can add global styles to this file, and also import other style files */
*{
    background-color: gray;
}

.meu-texto{
    background-color: lightcoral;
    color: white;
}

.meu-size{
    font-size: 40px;
}